body {
  text-align: center;
}

#navigation-section {
  background-color: #3c3c3c;
  color: #fff;
}

.navigation-links a {
  color: white;
}

ul {
  list-style: none;
}

.primary {
  background-color: #0057b7;
}

.secondary {
  background-color: #ffdd00;
}
